:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --orange-color: #f58021;
  --teal-color: #00a092;
  --teal-hover-color: #05786e;
  --purple-color: #20113d;
}

input {
  appearance: none;
}

.contacts__decor {
  overflow: hidden;
  width: 100%;
  height: 815px;
  margin: 0 auto;
}

.contacts-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contacts__content__title {
  margin-bottom: 50px;
}

.contacts__content__text {
  width: 545px;
}

.contacts__section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.contacts__content {
  justify-content: space-between;
  gap: 40px;
}

.contacts__content-descr,
.contacts__content-form {
  width: 50%;
}

.form {
  flex-direction: column;
  margin-bottom: 67px;
}

.input {
  width: 100%;
  padding: 17px 20px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  margin-bottom: 30px;
  transition: border 0.2s ease-in-out;
}

.label {
  margin-bottom: 10px;
}

.star {
  color: var(--teal-color);
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  transition: border 0.2s ease-in-out;
}

.input:focus,
.textarea:focus {
  border-color: var(--teal-color);
  outline: none;
}

.input:hover,
.textarea:hover {
  border-color: var(--teal-color);
}

.contacts__button {
  padding: 26px 87px;
  color: var(--white-color);
  background-color: var(--teal-color);
  transition: background-color 0.3s ease-in-out;
}

.contacts__button:hover {
  background-color: var(--teal-hover-color);
}
