@media (max-width: 1900px) {
  .container {
    padding-left: 160px;
    padding-right: 160px;
  }

  .users__button {
    margin-top: 0;
  }

  .user__slider-cards {
    transform: translateX(0);
  }
}

@media (max-width: 1721px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1600px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .watch {
    padding-top: 100px;
    padding-bottom: 94px;
    background-size: cover;
  }

  .users {
    background-position: right;
  }

  .users__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .users__content {
    width: 100%;
    max-width: 560px;
    max-height: 335px;
  }

  .user__slider-cards {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    transform: translateX(85px);
  }

  .users__slider-container {
    margin: 9px;
  }

  .user__slider-buttons {
    margin-left: auto;
    margin-bottom: 50px;
  }

  .users__button {
    margin-left: 97px;
  }
}

@media (max-width: 1470px) {
  .header__container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header__menu__list {
    gap: 30px;
  }

  .watch__content {
    gap: 23px;
  }

  .watch__title {
    line-height: 99px;
  }

  .info {
    padding-top: 100px;
    padding-bottom: 95px;
  }

  .info__top {
    flex-direction: column-reverse;
    margin-bottom: 72px;
    padding-left: 60px;
  }

  .info__bottom {
    padding-left: 400px;
  }

  .info__top__imege,
  .info__bottom__imege {
    width: 660px;
    height: 439px;
  }

  .info__top__descr,
  .info__bottom__descr {
    padding-top: 6px;
  }

  .info__top__title,
  .info__bottom__title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .info__bottom__title {
    margin-bottom: 32px;
  }

  .info__bottom {
    flex-direction: column;
  }

  .donation {
    padding-top: 59px;
    padding-bottom: 57px;
  }

  .donation__content {
    padding-left: 60px;
    padding-right: 60px;
  }

  .donation__descr {
    width: 575px;
  }

  .donation__text {
    width: 100%;
  }

  .slider {
    padding-top: 105px;
    padding-bottom: 150px;
  }

  .slider__container__text {
    width: 836px;
  }

  .prev-button,
  .next-button {
    padding: 19px;
  }

  .slider__container-cards {
    margin-right: -771px;
    margin-top: 24px;
  }

  .slider__container__title {
    margin-bottom: 40px;
    padding-left: 94px;
  }

  .slider__button {
    margin-top: -59px;
  }

  .cards-sliders-container {
    gap: 23px;
  }

  .card-animal {
    width: 455px;
    height: 716px;
  }

  .card-animal-content {
    padding-top: 13px;
  }

  .pay {
    padding-top: 156px;
  }

  .pay__title {
    padding-left: 58px;
  }

  .pay__card__container {
    gap: 100px;
    margin-bottom: 111px;
  }

  .pay__card {
    gap: 48px;
  }

  .pay__card-number {
    gap: 64px;
  }

  .pay__card:first-child .pay__card-img-wrapper {
    transform: translateY(64px);
  }

  .pay__card:nth-child(2) .pay__card-img-wrapper {
    transform: translateY(20px) scaleX(-1);
  }

  .pay__card:last-child .pay__card-img-wrapper {
    transform: translateY(15px);
  }

  .pay__card-content {
    gap: 20px;
  }

  .pay__card-descr {
    align-items: center;
  }

  .pay__card:first-child .pay__card-descr {
    transform: translateY(6px);
  }

  .pay__card:nth-child(2) .pay__card-descr {
    transform: translateY(30px);
  }

  .pay__card:last-child .pay__card-descr {
    transform: translateY(21px);
  }

  .play-icon {
    margin: 0;
  }

  .pay-title {
    text-align: center;
    margin-bottom: 0;
  }

  .pay-text {
    text-align: center;
  }

  .pay__button {
    margin-left: 51%;
    padding: 26px 45px;
  }

  .users__content {
    max-width: 577px;
  }

  .users__title {
    margin-bottom: 19px;
    line-height: 124%;
  }

  .user__slider-cards {
    transform: translateX(97px) translateY(9px);
  }

  .user__slider-buttons {
    justify-content: flex-end;
  }

  .care {
    padding-top: 150px;
  }

  .care__animal__cards {
    padding-left: 90px;
    padding-right: 90px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img img"
      "card1 card3"
      "card2 card4";
    grid-template-rows: 470px 1fr 1fr;
    gap: 19px;
  }

  .card-top {
    height: 373px;
  }

  .care__title {
    padding-left: 44px;
  }

  .care__text {
    width: 610px;
    margin-top: 29px;
    margin-bottom: 47px;
    padding-left: 116px;
  }

  .care-card {
    width: 455px;
    height: 639px;
  }

  .decor {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 162px;
  }

  .footer {
    padding-top: 78px;
  }

  .footer__container__top {
    gap: 35px;
    padding-bottom: 74px;
  }

  .footer__logo {
    gap: 30px;
  }

  .footer__menu__list {
    gap: 20px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 400px) {
}
