@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-500.woff2')
      format('woff2'),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-500.woff')
      format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(''),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-600.woff2')
      format('woff2'),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-600.woff')
      format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-700.woff2')
      format('woff2'),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-700.woff')
      format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local(''),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-800.woff2')
      format('woff2'),
    url('../../assets/fonts/montserrat-v25-latin_cyrillic-800.woff')
      format('woff');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --orange-color: #f58021;
  --hover-orange-color: #d26004;
  --teal-color: #00a092;
  --purple-color: #20113d;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--dark-color);
}

.container {
  max-width: 1920px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 260px;
  padding-right: 260px;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.section-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  color: var(--teal-color);
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

/*======header======*/

.header {
  width: 100%;
  background-color: var(--orange-color);
}

.header__container {
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 26px;
}

.header__menu {
  align-items: center;
}

.header-link {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  line-height: 150%;
  transition: color 0.3s ease-in-out;
}

.header-link:not(.activ-page):hover {
  color: var(--teal-color);
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--teal-color);
  transition: width 0.3s ease;
}

.header-link.activ-page {
  color: var(--teal-color);
  cursor: not-allowed;
}

.header-link:not(.activ-page):hover::after {
  width: 100%;
}

.menu-list {
  gap: 48px;
}

.social-links-list {
  align-items: center;
  gap: 30px;
}

.social-links-item {
  transition: opacity 0.3s ease;
}

.social-links-item:hover {
  opacity: 0.5;
}

.header__burger {
  display: none;
}

.header__right__block {
  gap: 68px;
}

/*======watch======*/

.watch {
  padding-top: 137px;
  padding-bottom: 131px;
  background-image: url(../../../assets/images/bg-view-section.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.watch__content {
  flex-direction: column;
  gap: 41px;
  align-items: flex-start;
}

.watch__title {
  width: 890px;
  font-weight: 800;
  font-size: 82px;
  line-height: 117%;
  letter-spacing: -1%;
}

.watch__descr {
  width: 430px;
}

.watch__btn {
  width: 240px;
  color: var(--white-color);
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: var(--orange-color);
  padding-right: 10px;
  background-image: url(../../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 26px center;
  transition: background-color 0.3s ease-in-out;
}

.watch__btn:hover {
  background-color: var(--hover-orange-color);
}

/*======info======*/

.info {
  padding-top: 150px;
  padding-bottom: 150px;
}

.info__top {
  margin-bottom: 150px;
  justify-content: space-between;
}

.info__bottom {
  justify-content: space-between;
}

.info__top__title,
.info__bottom__title {
  margin-bottom: 50px;
}

.info__top__descr,
.info__bottom__descr {
  width: 560px;
}

.info__top__imege,
.info__bottom__imege {
  width: 800px;
  height: 531px;
}

.info__top__imege {
  background-image: url(../../../assets/images/welcome-img.png);
  background-repeat: no-repeat;
}

.info__bottom__imege {
  background-image: url(../../../assets/images/birds-img.png);
}

/*======donation======*/

.donation {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--purple-color);
}

.donation__descr {
  width: 900px;
}

.donation__content {
  justify-content: space-between;
}

.donation__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 42px;
  color: var(--white-color);
}

.donation__text {
  width: 610px;
  color: var(--white-color);
}

.donation__btn__descr {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: var(--white-color);
}

.donation__button {
  display: flex;
  align-items: center;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white-color);
}

.donation-button-text {
  padding: 26px 14px;
}

.donation-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--orange-color);
  transition: background-color 0.3s ease;
}

.donation-button-icon:hover {
  background-color: var(--hover-orange-color);
}
